@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  font-family:"Poppins", sans-serif;
  color: azure;
  background-color: #0C1222;
}
  img {
    display: block; 
    border-radius: 10px; 
    border: 10px solid transparent; 
    background-image: linear-gradient(to right, rgba(31, 30, 30, 0.5), transparent),
                       linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
    background-position: top left, top left;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 10px, 10px 100%;
    opacity:0.9;
   }
   
   img:hover{
    box-shadow: 0 0 10px rgba(73, 71, 71, 0.5);
    opacity: 1.5;
   }


